@model OwlsBookStore.Data.Models.ViewModels.Writer.WriterBaseViewModel

@{
    ViewBag.Title = "DeletedConfirm";
}

<h2> The Author was deleted.</h2>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

